@page
@model Metro_Procesos.Pages.recuperarModel
<div class="container mt-5 text-center">
    <div class="card p-4 mx-auto shadow-sm" style="max-width: 400px;">
        <h3>Recuperar cuenta</h3>
        <div class="mt-4 mb-3">
            <label>Correo electrónico</label>
            <input type="email" class="form-control text-center">
        </div>
        <div class="mb-4">
            <label>Pin</label>
            <input type="text" class="form-control text-center" placeholder="_ _ _ _">
        </div>
        <button class="btn btn-primary w-100">Enviar código</button>
    </div>
</div>