@page
@model Metro_Procesos.Pages.RegistroModel
<div class="container mt-4">
    <div class="card shadow p-4 mx-auto" style="max-width: 600px;">
        <h2 class="text-center">Registro de Usuario</h2>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label>Nombre completo</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
                <label>Número del documento</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
                <label>Código dactilar</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-12 mb-3">
                <label>Contraseña</label>
                <input type="password" class="form-control">
            </div>
        </div>
        <button class="btn btn-success w-100">Finalizar Registro</button>
    </div>
</div>