@page
@model Metro_Procesos.Pages.UsuarioModel
<div class="container mt-4">
    <div class="card p-4 bg-light shadow-sm">
        <h4>Bienvenido al Metro de Quito</h4>
        <p>Nombre del usuario: <strong>(Pendiente conexión)</strong></p>
        <p>Saldo disponible: <span class="badge bg-success">$0.00</span></p>
        <hr>
        <div>
            <a asp-page="/CompraSaldo" class="btn btn-outline-primary">Compra boleto</a>
            <a asp-page="/CompraSaldo" class="btn btn-outline-success">Recarga Saldo</a>
        </div>
    </div>
</div>